* {
    margin: 1px;
}

.gridwrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "he he he he"
    "na na na na"
    "a1 a1 a1 a1"
    "a1 a1 a1 a1"
    "se se se se"
    "fo fo fo fo"
    ;

grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-gap: 2px;
}


#header {
    grid-area: he;
}

.lista {
    display:flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex: 1;
}
